nav {
            background-color: #4947af;
            overflow: hidden;
            border-radius: 15px;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        nav li {
            float: left;
        }
        nav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        nav li a:hover {
            background-color: #111;
        }
 body {
            margin: 0;
            padding: 20px;
            font-family: Arial, sans-serif;
        }
h1{
    text-align: center;
    color: #c90e3c;
    text-shadow: #4947af 4px 4px 8px;
    text-box: ;
}